body {background-image: url('https://s-media-cache-ak0.pinimg.com/564x/28/38/01/283801ea4c683a304057f1bbb09de399.jpg')
}

h1{color: #FFF;
  margin-top: -100px;
  margin-bottom: 70px;
}
.sun {
  margin-left: 100px;
}
/*----- Tabs -----*/
.tabs {
    width:80%;
  background:rgba(255,255,255,0.6);
  border-radius: 5px;
  margin: auto;
  box-shadow: 1px 1px 1px #000;
  display: table

}

    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin: 5px 10px 5px -100px;
        padding: 15px; 
        list-style:none;
  display: block;  
}

        .tab-links a {
            padding: 9px 25px;
            background: #fff;
            font-size:20px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
  text-decoration:none;
        }

        .tab-links a:hover {
  text-shadow: 1px 1px 1px #000
            
        }

    li.active a, li.active a:hover {
        text-shadow: 1px 1px 1px #000;
        color:#FFF;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
  float: right;
  height: 400px;
  margin-top: -350px;
  margin-right: 20px;
  margin-bottom: 20px;

    }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }
